@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

@theme {
    
    --font-lexend-1: Lexend-ExtraLight;
    --font-lexend-2: Lexend-Light;
    --font-lexend-3: Lexend-Thin;
    --font-lexend-4: Lexend-Regular;
    --font-lexend-5: Lexend-Medium;
    --font-lexend-6: Lexend-SemiBold;
    --font-lexend-7: Lexend-Bold;
    --font-lexend-8: Lexend-ExtraBold;
    --font-lexend-9: Lexend-Black;


    --color-primary-text: #111418;
    --color-secondary-text: #617589;
    --color-tertiary-text: #374151;
    --color-quaternary-text: #4B5563;
    
    --color-nav: #137FEC;

    --color-urgent: #EA580C;
    --color-urgent-accent: #FFF7ED;

    --color-interactive: #FFFFFF;

    --color-page: #F7F8F9;
    --color-page-offset: #E5E7EB;
    
    --color-light-border: #F3F4F6;

    --color-ui: #137FEC;
    --color-ui-accent: #EFF6FF;

    --color-card-primary: #137FEC;
    --color-card-secondary: #FFFFFF;
    
    --color-card-bar-primary: #FFFFFF;
    --color-card-bar-secondary: #CCCCCC;
    
    --color-card-primary-text: #FFFFFF;
    --color-card-secondary-text: #DBEAFE;



    --color-blue-background: #EFF6FF;
    --color-blue: #2563EB;
    --color-purple-background: #FAF5FF;
    --color-purple: #9333EA;
    --color-green-background: #F0FDF4;
    --color-green: #16A34A;
    --color-orange-background: #FFF7ED;
    --color-orange: #EA580C;
    --color-pink-background: #FDF2F8;
    --color-pink: #DB2777;
    --color-cyan-background: #F0FDFA;
    --color-cyan: #0D9488;
    --color-red-background: #FEF2F2;
    --color-red: #EF4444;
    --color-yellow-background: #FEFCE8;
    --color-yellow: #CA8A04;

    --color-danger-background: #FEE2E2;
    --color-danger: #B91C1C;
    --color-success-background: #DCFCE7;
    --color-success: #15803D;


}

@utility text-fix {
  /* NativeWind translates these to React Native specific styles */
  include-font-padding: false;
}